<h2>Por país</h2>
<hr />
<div class="row">
  <div class="col">
    <app-pais-input (onNuevoTermino)="buscar($event)"
      placeholder="Buscar pais..."
    ></app-pais-input>
  </div>
</div>
<hr />

<div *ngIf="paisService.errorPaisNoEncontrado" class="alert alert-danger">
  No se encontró ningun país con el término {{ paisABuscar }}
</div>

<div *ngIf="!paisService.errorPaisNoEncontrado" class="row">
  <div class="col">
    <app-tabla [listaPaisesEncontrados]="listaPaisesEncontrados"></app-tabla>
  </div>
</div>
