<h2>Por país</h2>
<hr />
<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input
        type="text"
        placeholder="Buscar país..."
        class="form-control"
        [(ngModel)]="paisABuscar"
        name="paisABuscar"
      />
    </form>
  </div>
</div>
<hr />

<div class="alert alert-danger">No se encontró ningun país</div>

<div class="ro">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bandera</td>
          <td>España</td>
          <td>50 Millones</td>
          <td><a href="#">ver...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
