<h2>Por país</h2>
<hr />
<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input
        type="text"
        placeholder="Buscar país..."
        class="form-control"
        [(ngModel)]="paisABuscar"
        name="paisABuscar"
      />
    </form>
  </div>
</div>
<hr />

<div *ngIf="paisService.errorPaisNoEncontrado" class="alert alert-danger">
  No se encontró ningun país con el término {{ paisABuscar }}
</div>

<div *ngIf="!paisService.errorPaisNoEncontrado" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of listaPaisesEncontrados; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ pais.name }}</td>
          <td>{{ pais.population | number }}</td>
          <td><a href="#">ver...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
